$main-color:#f26d80;//pinkcolor
$font-color:#333;
$color-2:#fff;
$placeholder-color:#5f5f5f;
$color-1:#fff;
$color-3:#000;
$font-family:'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif!important;
$wrapper:100%;
$container:100%;
$wrapper-max-width:84%;

// z-index

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;

$header-height-S: 50px;
$header-height-M: 80px;